* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: absolute;
    top: -161px;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    position: relative;
    max-width: 80px;
    left: -20px;
}

header ul {
    position: relative;
    display: flex;
    top: -20px;
}

header ul li {
    padding-top: 35px;
    list-style: none;
}

header ul li a {
    font-size: 18px;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-left: 40px;
    text-decoration: none;
}

.sk8 {
    position: relative;
    height: 380px;
    left: -169px;
    bottom: 0;
}

hr {
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    padding: 105px;
    background: #3f3f3f;
}

#container {
    max-width: 1024px;
    margin: 0 auto;
}

#container>header {
    background: #d4e4ef;
    text-align: center;
    padding-top: 1rem;
}

main {
    background: #ecedea;
    font-size: 20px;
    padding: 1rem;
}

footer {
    background: #6aabd2;
    height: 7rem;
}


/* NAV */

nav {
    background: #0a6082;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    color: #000000;
    border-right: 1px solid #d4e4ef;
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    display: block;
    color: #000000;
    padding: 15px;
}


/* MAIN */

main>header {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', sans-serif;
    font-weight: 800;
}

.produto {
    margin-bottom: 20px;
    cursor: pointer;
}

.produto p {
    border-radius: 2%;
    background-color: #474747;
    color: whitesmoke;
    padding: 5px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.produto p:hover {
    transform: rotate(-2deg);
}

#produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.imagem1 {
    position: relative;
    height: 350px;
}

.truck {
    position: relative;
    height: 350px;
}

.produto2 {
    position: relative;
}

.paraf {
    position: relative;
    top: -14px;
}